#Portfolio {
    width: 210mm;
    height: 297mm; 
    position: relative;
    margin: auto;
    background-color: #002506;
    color: #fff;
    
}


.page {
    display: none;
    user-select:none;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 1s;
    
    
}

.page.active  {
    display: block;
  
    
    
}




#capa .text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: absolute;
    left: -150px;
    top: -160px;
    color: #fff;
    font-size: 70px;
    word-wrap:break-word;
    margin: 200px;
    background-size: contain;
    background-repeat: no-repeat;

}

#img-capa{

  position: absolute;
  left: 25%;
  width: 580px;
  height: 736px;
  top: 2%;
  
  

}

#img-capa1{

  position: absolute;
  left: 4%;
  width: 359px;
  height: 310px;
  top: 70%;

  

}

#img-pg1-1{

  position: absolute;
  left: 25%;
  width: 580px;
  height: 890px;
  top: 2%;
  

}




h2 {
  text-shadow: 4px 4px 16px #000000;
  position: absolute;
  left: 120px;
  top: -80px;
  font-size: 64px;
  word-wrap:normal;
  margin: 100px;
}

h3 {
  position: absolute;
  left: 600px;
  top: 560px;
  font-size: 64px;
  word-wrap:normal;
}

p{
  position: absolute;
  left: 400px;
  top: 800px;
  font-size: 30px;
  word-wrap:normal;
  width: 400px;
}

.p{
  position: absolute;
  left: 600px;
  top: 1050px;
  font-size: 20px;
  word-wrap:normal;
  
}

.line1{ 
  position: absolute;
  top: 98%;
  background: #fff;
  width: 210mm;
  height: 2px;
}
.line2{ 
  position: absolute;
  top: 2%;
  background: #fff;
  width: 210mm;
  height: 2px;
}

.line3{
  position: absolute;
  left: 2%;
  background: #fff;
  width: 2px;
  height: 297mm;
}

.line4{
  position: absolute;
  left: 98%;
  background: #fff;
  width: 2px;
  height: 297mm;
}

.line5{
  position: absolute;
  top: 68%;
  background: #fff;
  width: 210mm;
  height: 2px;
}

.line6{
  position: absolute;
  top: 70%;
  background: #fff;
  width: 210mm;
  height: 2px;
}

.line7{
  position: absolute;
  left: 20%;
  background: #fff;
  width: 2px;
  height: 202mm;
}

.line8{
  position: absolute;
  left: 23%;
  background: #fff;
  width: 2px;
  height: 202mm;
}


#pg1{
  background: #00420b;
  
}

#pg1 h1{
  position: absolute;
  font-size: 135px;
  transform: rotate(-90deg);
  top: 35%;
  left: -52%;
  user-select:none;
  
}

#pg1 h2{
  position: absolute;
  font-size: 40px;
  top: 75%;
  left: 20%;
  word-wrap:normal;
  width: 120px;
  user-select:none;

}

.line9{
  
  position: absolute;
  background: #fff;
  width: 2px;
  height: 297mm;
  left: 98%;

}

.line10{
  
  position: absolute;
  background: #fff;
  width: 2px;
  height: 297mm;
  left: 2%;

}

.line11{
  
  position: absolute;
  background: #fff;
  width: 175mm;
  height: 2px;
  top:98%;
  left: 22%;

}

.line12{
  
  position: absolute;
  background: #fff;
  width: 175mm;
  height: 2px;
  top:83%;
  left: 22%;

}

.line13{
  
  position: absolute;
  background: #fff;
  width: 175mm;
  height: 2px;
  top:81%;
  left: 22%;

}

.line14{
  
  position: absolute;
  background: #fff;
  width: 2px;
  height: 297mm;
  left: 22%;

}
.line15{
  
  position: absolute;
  background: #fff;
  width: 2px;
  height: 297mm;
  left: 24%;

}

.line16{
  
  position: absolute;
  background: #fff;
  width: 210mm;
  height: 2px;
  top:2%;
  

}






#pg2{
  background: #00420b;
}

#pg2 h1 {

    position: absolute;
    font-size: 48px;
    top: 0.5%;
    left: 2%;
    


}


#certificados {
  position: relative;
  width: 318px;
  height: 518px;
}




.buttomd{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 80%;
  background: #00420b;
  background-image: url('midia/buttom.png');
  background-repeat: no-repeat;
  background-size: contain;
  
  
  
}

.buttome{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 2%;
  background: #00420b;
  background-image: url('midia/buttom\(1\).png');
  background-repeat: no-repeat;
  background-size: contain;
 

}



button {
  
  border-radius: 100%;

}
  .buttome:hover {
  background: #002506;
  background-image: url('midia/buttom\(1\).png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 100%;
  width: 55px;
  height: 55px;
  transition: 0.5s;
 

}

.buttomd:hover {
  background: #002506;
  background-image: url('midia/buttom.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 100%;
  width: 55px;
  height: 55px;
  transition: 0.5s;
 

}


#imagem {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
  width: 318px;
  height: 538px;
  background-repeat: no-repeat;
  background-size: contain; /* Modificado aqui */
  background-image: url('midia/pg3/certificados_Naza_Cunha/img-certificados-1.jpg');
  background-image: url('midia/pg3/certificados_Naza_Cunha/img-certificados-2.jpg');
  background-image: url('midia/pg3/certificados_Naza_Cunha/img-certificados-3.jpg');



}

.hidden {
  opacity: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 2%;
  top: 12%;
  background: #fff;
}


#pg2 h2{

  position: absolute;
  width: 423px;
  height: 228px;
  word-wrap:normal;
  font-size: 20px;
  top: 55%;
  left: 35%;
  

}

#bola-perfil{

  position: absolute;
  width: 184px;
  height: 184px;
  top: 64%;
  



}

#bola-perfil p {

 position: absolute;
 top: 90%;
 left: 10%;

}

.naza-perfil{

  position: absolute;
  width: 100px;
  height: 100px; 
  border-radius: 50%;
  left: 5%;
  background-image: url("midia/pg3/naza-pg3.png");
  background-size: contain;
  background-repeat: no-repeat;

}

.box-video {
  position: absolute;
  top: 5%; 
  left: 46.5%; 
  width: 410px; 
  height: 590px; 
  
}

#myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.line17{

  position: absolute;
  width: 210mm;
  height: 2px;
  top: 98%;
  background: #fff;

}

.line18{

  position: absolute;
  width: 210mm;
  height: 2px;
  top: 88%;
  background: #fff;

}

.line19{

  position: absolute;
  width: 210mm;
  height: 2px;
  top: 58%;
  background: #fff;

}

.line20{

  position: absolute;
  width: 210mm;
  height: 2px;
  top: 60%;
  background: #fff;

}

.line21{

  position: absolute;
  width: 150mm;
  height: 2px;
  top: 10%;
  background: #fff;

}

.line22{

  position: absolute;
  width: 2px;
  height: 297mm;
  left: 46%;
  background: #fff;

}

.line23{

  position: absolute;
  width: 2px;
  height: 297mm;
  left: 43%;
  background: #fff;

}

.line24{

  position: absolute;
  width: 210mm;
  height: 2px;
  top: 2%;
  background: #fff;

}




#pg3 h1{

position: absolute;
top: 2%;
left: 45%;
font-size: 74px;


}

#pg3 h2{

  position: absolute;
top: 29%;
left: 33%;
font-size: 40px;
width: 400px;


}

#img-1{

  position: absolute;
  width: 280px;
  height: 249px;
  top: 75.5%;
  left: 4%;

}

#img-2{

  position: absolute;
  width: 440px;
  height: 580px;
  top:45.6%;
  left: 42%;

}

#img-3{

  position: absolute;
  width: 280px;
  height: 776px;
  left: 4%;
  top: 4%;

}

.line25{

  position: absolute;
  width: 210mm;
  height: 2px;
  top: 2%;
  background: #fff;

}

.line26{

  position: absolute;
  width: 210mm;
  height: 2px;
  top: 36%;
  background: #fff;

}

.line27{

  position: absolute;
  width: 210mm;
  height: 2px;
  top: 44%;
  background: #fff;

}

.line28{

  position: absolute;
  width: 210mm;
  height: 2px;
  top: 73.2%;
  background: #fff;

}

.line29{

  position: absolute;
  width: 210mm;
  height: 2px;
  top: 75.2%;
  background: #fff;

}

.line30{

  position: absolute;
  width: 210mm;
  height: 2px;
  top: 98%;
  background: #fff;

}



.line31{

  position: absolute;
  width: 2px;
  height: 297mm;
  left: 2%;
  background: #fff;

}


.line32{

  position: absolute;
  width: 2px;
  height: 297mm;
  left: 98%;
  background: #fff;

}


.line33{

  position: absolute;
  width: 2px;
  height: 297mm;
  left: 41.6%;
  background: #fff;

}

.line34{

  position: absolute;
  width: 2px;
  height: 297mm;
  left: 39.6%;
  background: #fff;

}




.box-video-pg4 {
  position: absolute;
  top: 2%; 
  left: 0%;
  width: 774px; 
  height: 348px; 
  
}

#video-pg4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#pg4 h1{

  position: absolute;
  font-size: 36px;
  left: 2%;
  top: 32%;
  width: 260px;
  height: 337px;

}

#pg4 h2{

  position: absolute;
  font-size: 24px;
  left: 28%;
  top: 60%;
  width: 450px;
  height: 300px;


}

.line36{
  position: absolute;
  width: 210mm;
  height: 2px;
  background: #fff;
  top: 2%;
}

.line37{
  position: absolute;
  width: 210mm;
  height: 2px;
  background: #fff;
  top: 33%;
}

.line38{
  position: absolute;
  width: 210mm;
  height: 2px;
  background: #fff;
  top: 58%;
}

.line39{
  position: absolute;
  width: 210mm;
  height: 2px;
  background: #fff;
  top: 66%;
}

.line40{
  position: absolute;
  width: 210mm;
  height: 2px;
  background: #fff;
  top: 98%;
}

.line41{
  position: absolute;
  width: 2px;
  height: 297mm;
  background: #fff;
  left: 98%;
}

.line42{
  position: absolute;
  width: 2px;
  height: 67%;
  background: #fff;
  left: 40%;
  top: 33%;
}

.line43{
  position: absolute;
  width: 2px;
  height: 67%;
  background: #fff;
  left: 36%;
  top: 33%;
}



#pg5 h1{
  position: absolute;
  font-size: 64px;
  top: 32.5%;
  left: 16%;
}
#pg5 h2{
  position:absolute;
  font-size: 48px;
  top: 58%;
  left: 46%;
  width: 380px;
  height: 162px;
}

#imagem-pg5 {
  position: absolute;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
  width: 380px;
  height: 600px;
  left: 2%;
  top: 45%;
  background-repeat: no-repeat;
  background-size: contain; /* Modificado aqui */
  background-image: 
  url('midia/pg5/img-produto1.jpeg')
  url('midia/pg5/img-produto2.jpeg')
  url('midia/pg5/img-produto3.jpeg')
  url('midia/pg5/img-produto4.jpeg')
  url('midia/pg5/img-produto5.jpeg')
  url('midia/pg5/img-produto6.jpeg');

}
#button-pg5{

position: absolute;
width: 380px;
height: 600px;
top: 22%;
left: 2%;

}

.produto-img{

  width: 380px;
  height: 600px;
  background-image: url("midia/pg5/img-produto6.jpeg");
  background-size: contain;
  background-repeat: no-repeat;

}

#pg5 button{
  
  
  width: 50px;
  height: 50px;
  top: 75%;
  
  
}

.button-pg5-d{
  
  position: relative;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 80%;
  background: #00420b;
  background-image: url('midia/pg5/buttom.png');
  background-repeat: no-repeat;
  background-size: contain;

}

#button-pg5-e{

  position: relative;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 2%;
  background: #00420b;
  background-image: url('midia/pg5/buttom\(1\).png');
  background-repeat: no-repeat;
  background-size: contain;
 

 
}

#img-top-pg5{
position: absolute;
top: 2%;
background-image: url('midia/pg5/img-top-pg5.png');
background-repeat: no-repeat;
  background-size: contain;
width: 794px;
height: 380px;


}

.line44{
  
  position: absolute;
  width: 210mm;
  height: 2px;
  top: 98%;
  background:#fff;

}

.line45{
  
  position: absolute;
  width: 210mm;
  height: 2px;
  top: 45%;
  background:#fff;

}


.line47{
  
  position: absolute;
  width: 2px;
  height: 56%;
  left: 50%;
  top: 45%;
  background:#fff;

}

.line46{
  
  position: absolute;
  width: 2px;
  height: 297mm;
  left: 2%;
  background:#fff;

}


.line48{
  
  position: absolute;
  width: 2px;
  height: 297mm;
  left: 98%;
  background:#fff;

}



#fim h1{

position: absolute;
font-size: 48px;
top: 4%;
left: 10%;
border: 2px solid #fff;
margin: 10px;
padding: 20px;
  
}

#fim h2 {

  position: absolute;
  font-size: 100px;
  top: -4%;
  left: 55%;
  border: 2px solid #fff;
  padding: 40px;
  margin: 50px;


}

#fim h3{
  border: 2px solid #fff;
  padding: 20px;
  position: absolute;
  font-size: 24px;
  width: 180px;
  top: 16%;
  left: 10%;

}


.fundo{
  position: relative;
  background: #D7FFD3;
  width: 397px;
  height: 329px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 63.3%;
  left: 50%;


}

.fundo img {

  
  background-size: contain;
  background-repeat: no-repeat;
  height: 120px;
  width: 120px;
  margin-left: 50px;
  margin-top: 25px;
 
  

}

#icon-zap{

  position: absolute;
  border-radius: 50%;
  top: 24%;
  left: 2%;

}

.line52{
  position: absolute;
  width: 392px;
  height: 2px;
  background: #fff;
  top: 16%;
}

.line51{
  position: absolute;
  width: 390px;
  height: 2px;
  background: #fff;
  top: 20%;
  left: 50%;
}


.line54{
  position: absolute;
  width: 2px;
  height: 297mm;
  top: 0%;
  background: #fff;
  left: 50%;
}


